h1 {
	font-size: 60px;
	margin-bottom: 0px;
	background-color:  #808000;
	text-transform: uppercase;
	letter-spacing: 9px;
	font-family: 'Kirang Haerang', cursive;
	color: white;

}

h2 {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #1a001a;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 60px;

}

#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: #808000;
	margin-top: 100px;
}

body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
    font-family: 'Shadows Into Light', cursive;
    /*background-image: url(../images/pattern.png);*/
    /*background-color:  #ffffe6;*/

}

.about {
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
	background-color: rgba(51,51,51,0.50);	
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 3px;

}

.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}